.circle-yellow-container{
    background: #FED94D;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.1rem;
    padding: 12px;
    cursor: pointer;
}
.circle-enable{
    background-color: grey;
}
.circle-disable{
    background-color: #FED94D;
}