@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#root{
  margin: auto;
}
.btn-ButtonDsg{
  width: 200px;
  height: 30px;
  background-color: #FED94D;
  border-radius: 8px;
  color: black;
  display: block;
}

.input-inputDsg{
  width: 300px;
  height: 35px;
  background-color: white;
  color: #000000;
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  outline: none;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: #8AC0FF;
}
.input-inputDsg:hover{
  border-width: 2px;
  color: #000000;
}
a:hover{
  color: black;
}
#reader__dashboard_section{
  margin-top: 5vw;
}