.main-container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
    

}

.cards-container{

    display: flex;
    flex-direction: row;
    gap: 10rem;
    flex-wrap: wrap;
    

}

.text1{
    
    margin-bottom: 2rem;
}
.text1 h2{
    color: black;
    line-height: 10px;
    font-size: 2rem;
}
.title h1{
    color: black;
    font-size: 3rem;
    font-weight: bold;
}

